<div class="banner">
  <div class="center">
      <h1>Study and learn from ancient texts</h1>
      <p>Sofia is an interactive study guide for students of the classics</p>
    <%= image_tag "plato.png" %>
  </div>
</div>

<div class="wrapper">
    <% if signed_in? %>
      <%= button_to "Add author", new_author_path, method: :get %>
    <% end %>
  <form class="author-search" role="search">
    <input type="search" placeholder="Search for..." />
  </form>

  <% @authors.each do |author| %>
    <div class="author">
      <h1><%= link_to author.name.upcase, author_path(author) %></h1>
      <ul>
        <% author.works[0,20].each do |work| %>
          <li><%= link_to work.name, author_work_path(author, work) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
