// Breakpoints
$mobile: 480px;
$medium-screen: 600px;
$large-screen: 960px;

// Typography
@font-face {
  font-family: 'Lato-Heavy';
  src:font-url('Lato-Heavy.eot');
  src:font-url('Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Heavy.ttf') format('truetype'), font-url('Lato-Heavy.woff')
  format('woff');
}
@font-face {
  font-family: 'Lato-Light';
  src:font-url('Lato-Light.eot');
  src:font-url('Lato-Light.eot?#iefix') format('embedded-opentype'),
  font-url('Lato-Light.ttf') format('truetype'), font-url('Lato-Light.woff')
  format('woff');
}

$base-font-family: 'Lato-Light', $font-stack-system;
$heading-font-family: 'Lato-Heavy', $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #000;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $black;

// Border
$base-border-color: $black;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
