<div class="chapter-header">
  <h1><%= link_to @chapter.work.name, author_work_path(@chapter.work.author, @chapter.work) %></h1>
  <h2><%= @chapter.name %></h2>
</div>

<div class="chapter-navigation">
  <div class="center">
  <ul>
    <li>01-56</li>
    <li>57-83</li>
    <li>84-98</li>
    <li>99-123</li>
    <li>124-145</li>
    <li>146-186</li>
    <li>187-198</li>
    <li>199-212</li>
    <li>213-242</li>
    <li>243-265</li>
    <li>266-284</li>
  </ul>
  </div>
</div>
